.main-dash{
    width: 20%;
    height: 100vh;
    background-color: brown;
    color: white;
    padding: 10px;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    padding: 20px;
}
.main{
    display: flex;
    background-color: antiquewhite;
}